# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.pytest_cache/

# Virtual Environments
.venv
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# IDE and Editor files
.vscode/
.idea/
.cache/

**/workspaces/*

**/*.db

**/*.log

assets/